---
import "@/shared/styles/global.css";
import SEO from "@/components/seo/SEO.astro";

interface Props {
  title: string;
  description?: string;
  noindex?: boolean;
  nofollow?: boolean;
  image?: string;
  imageAlt?: string;
}

const { title, description, noindex, nofollow, image, imageAlt } = Astro.props;

import { Header } from "@/components/header";
import { Footer } from "@/components/footer";
import { Toaster } from "@/components/ui/sonner";
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      noindex={noindex}
      nofollow={nofollow}
      image={image}
      imageAlt={imageAlt}
    />
    <slot name="head" />
  </head>
  <body class="bg-background flex min-h-screen flex-col font-sans antialiased">
    <Header client:load pathname={Astro.url.pathname} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <Toaster client:load />
  </body>
</html>
